body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background: url("../img/background.png");
}

body input {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

section {
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 20px;
}


.log-in-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 360px;
    width: 100%;
    padding: 50px;
}

.log-in-window form .field {
    margin-bottom: 20px;
}

.log-in-window form .field:last-child {
    margin-bottom: 30px;
}

.log-in-window form .field input.text {
    width: 100%;
    padding: 6px 12px;
    border-radius: 20px;
    line-height: 24px;
    background: #F9FAFB;
    border: 3px solid #2C2F3C;
    font-size: 16px;
    color: #2C2F3C;
}

.log-in-window form input.text:focus {
    outline-width: 0;
}

.log-in-window form input.button:focus {
    outline-width: 0;
}

.log-in-window form input.button {
    padding: 7px 70px;
    color: #2C2F3C;
    font-size: 20px;
    border-radius: 30px;
    border: 3px solid #2C2F3C;
    transition: 0.3s ease-in-out;
    background: #F9FAFB;
}

.log-in-window form input.button:hover {
    background: #2C2F3C;
    color: #F9FAFB;
}

.log-in-window .text-info h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}

.log-in-window .button-wrapper {
    text-align: center;
}

header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    background: #2C2F3C;
    line-height: 50px;
    font-size: 15px;
}

header .button-wrapper {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}


header .button-wrapper .right-align {
    float: right;
}

header .button-wrapper .left-align {
    float: left;
}

header .button-wrapper .header-element {
    display: inline-block;
}
header .button-wrapper .header-element input {
    background: none;
    border: none;
    color: #F9FAFB;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-size: 15px;
}


header .button-wrapper .header-element a {
    color: #F9FAFB;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

header .button-wrapper .header-element p {
    color: #F9FAFB;
}

header .button-wrapper .header-element a:hover {
    /*color: #FB9656;*/
}

header .button-wrapper .left-align .header-element {
    margin-right: 30px;
}

header .button-wrapper .left-align .header-element:last-child {
    margin-right: 0;
}

header .button-wrapper .right-align .header-element {
    margin-left: 30px;
}

header .button-wrapper .left-align .header-element:first-child {
    margin-left: 0;
}

section.main-section {

}

section.main-section .main-section-content .text-info {
    margin: 0 auto;
    margin-bottom: 50px;
}

section.main-section .main-section-content .text-info h1 {
    text-align: center;
    font-size: 30px;
}

section .search-by-title {
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 55px;
}

section .search-by-title form .field {
    position: relative;
}

section .search-by-title form .field .button-wrapper {
    position: absolute;
    width: 30px;
    transform: translateY(-50%);
    right: 4px;
    top: 50%;
}

section .search-by-title form .field input.button {
    cursor: pointer;
    border: none;
    color: #ccc0;
    width: 30px;
    font-size: 30px;
    padding: 0;
    background: url("../img/search.svg") no-repeat -26px -14px;
    background-size: 100px;
}

section .search-by-title form .field input.text {
    width: 100%;
    padding: 6px 12px;
    border-radius: 20px;
    line-height: 24px;
    background: #F9FAFB;
    border: 3px solid #2C2F3C;
    font-size: 16px;
    color: #2C2F3C;
}

section.main-section .main-section-content .all-publication-types {
    margin-bottom: 70px;
}

section.main-section .main-section-content .all-publication-types .publication-type-block {
    padding: 0 40px;
    box-sizing: border-box;
    width: 33.3%;
    display: inline-block;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

section.main-section .main-section-content .all-publication-types .publication-type-block a p {
    margin-bottom: 30px;
    color: #2C2F3C;
}
section.main-section .main-section-content .all-publication-types .publication-type-block a img {
    height: 180px;
}

section.main-section .main-section-content .show-all-block {
    text-align: center;
}

section.main-section .main-section-content .show-all-block .show-all-button {
    padding: 7px 70px;
    font-size: 20px;
    color: #2C2F3C;
    border-radius: 30px;
    border: 3px solid #2C2F3C;
    background: #F9FAFB;
    transition: 0.3s ease-in-out;
}

section.main-section .main-section-content .show-all-block .show-all-button:hover {
    background: #2C2F3C;
    color: #F9FAFB;
}


section.publications-section .text-content {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

section.publications-section .filter-publications-wrapper {

}

section.publications-section .filter-publications-wrapper .content-part {
    display: inline-block;
    float: left;
}

section.publications-section .filter-publications-wrapper .filter-wrapper {
    max-width: 220px;
    padding-right: 15px;
    width: 100%;
}
section.publications-section .filter-publications-wrapper .filter-wrapper p {
    margin-bottom: 20px;
    font-size: 25px;
}

section.publications-section .filter-publications-wrapper .filter-wrapper .parameter-block {
    margin-bottom: 20px;
}

section.publications-section .filter-publications-wrapper .filter-wrapper .parameter-block:nth-last-child(2) {
    margin-bottom: 40px;
}

section.publications-section .filter-publications-wrapper .filter-wrapper .parameter-block label {
    display: block;
}

section.publications-section .filter-publications-wrapper .filter-wrapper .parameter-block input.min-cost,
section.publications-section .filter-publications-wrapper .filter-wrapper .parameter-block input.max-cost {
    width: 100%;
    padding: 6px 12px;
    border-radius: 20px;
    line-height: 14px;
    background: #F9FAFB;
    border: 3px solid #2C2F3C;
    color: #2C2F3C;
}



section.publications-section .filter-publications-wrapper .filter-wrapper .parameter-block input.search-button {
    padding: 7px 70px;
    width: 100%;
    font-size: 20px;
    color: #2C2F3C;
    border-radius: 30px;
    border: 3px solid #2C2F3C;
    transition: 0.3s ease-in-out;
    background: #F9FAFB;
    cursor: pointer;
}

section.publications-section .filter-publications-wrapper .filter-wrapper .parameter-block input.search-button:hover {
    background: #2C2F3C;
    color: #F9FAFB;
}

section.publications-section .all-publications .publication {
    margin-bottom: 56px;
    width: 33%;
    float: left;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

section.publications-section .all-publications .publication img {
    height: 100px;
    margin-bottom: 20px;
}

section.publications-section .all-publications .publication .text-info {
    margin-bottom: 10px;
}

section.publications-section .all-publications .publication .add-to-order-form input {
    display: block;
    margin: 0 auto;
    background: #F9FAFB;
    border: 2px solid #2C2F3C;
    margin-bottom: 8px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

section.publications-section .all-publications .publication .add-to-order-form input:hover {
    background: #2C2F3C;
    color: #F9FAFB;
}

section.publications-section .all-publications .publication .add-to-order-form select {
    border: 2px solid;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    background: #F9FAFB;
    text-align-last: center;
}

section.publications-section .all-publications .publication .edit-button {
    cursor: pointer;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #2C2F3C;
    line-height: 12px;
    border-radius: 30px;
    border: 3px solid #2C2F3C;
    transition: 0.3s ease-in-out;
    background: #F9FAFB;

}

section.publications-section .all-publications .publication .edit-button:hover {
    background: #2C2F3C;
    color: #F9FAFB;
}


section.publications-section .filter-publications-wrapper .all-publications-wrapper{
    padding-left: 15px;
    width: calc(100% - 250px);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal .modal-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: url("../img/background.png");
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #2C2F3C;
    width: 100%;
    max-width: 460px;
}

.modal .modal-content .close {
    color: #2C2F3C;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    right: 14px;
    top: 9px;
}

.modal .modal-content .close:hover,
.modal .modal-content .close:focus {
    cursor: pointer;
}

.modal .modal-content form .edit-input {
    margin-bottom: 20px;
}

.modal .modal-content form .edit-input:last-child {
    margin-bottom: 30px;
}

.modal .modal-content form .edit-input p {
    margin-bottom: 8px;
}

.modal .modal-content form .text-edit input {
    text-align: center;
    width: 100%;
    max-width: 280px;
    padding: 6px 12px;
    border-radius: 20px;
    line-height: 14px;
    background: rgba(0,0,0,0);
    border: 3px solid #2C2F3C;
    color: #2C2F3C;
}

.modal .modal-content form .select-edit select {
    text-align: center;
    width: 100%;
    max-width: 280px;
    padding: 5px 12px;
    border-radius: 20px;
    line-height: 14px;
    background: rgba(0,0,0,0);
    border: 3px solid #2C2F3C;
    color: #2C2F3C;
    text-align-last: center;
}

.modal .modal-content form input.submit-changes-button {
    padding: 7px 75px;
    font-size: 20px;
    color: #2C2F3C;
    border-radius: 30px;
    border: 3px solid #2C2F3C;
    transition: 0.3s ease-in-out;
    background: #F9FAFB;
    cursor: pointer;
}

.modal .modal-content form input.submit-changes-button:hover {
    background: #2C2F3C;
    color: #F9FAFB;
}

.modal .modal-content form .id-input {
    margin-bottom: 0;
}

.modal .modal-content form .id-input p {
    color: #cccccc;
}

.modal .modal-content form .id-input input {
    border-color: #cccccc;
    color: #cccccc;
}


table.users-table {
    border: 0px solid #FFFFFF;
    width: 100%;
    text-align: left;
    background: #2C2F3C;
    border-radius: 0.28571429rem;
    color: #F9FAFB;
    border-collapse: separate;
    border-spacing: 0px;
    border-top: 0.2em solid #2C2F3C;
}
table.users-table form input {
    background: none;
    border: none;
    color: #F9FAFB;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-size: 100%;
    text-decoration: underline;
}
table.users-table a {
    text-decoration: underline;
    color: #F9FAFB;
}

table.users-table:first-child {
    margin-top: 0em;
}

table.users-table:last-child {
    margin-bottom: 0em;
}

table.users-table thead tr th {
    padding: 0.92857143em 0.78571429em;
}

table.users-table tbody tr td {
    padding: 0.78571429em 0.78571429em;
}


section.order .text-content {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}


section.order .page-part {
    float: left;
    display: inline-block;
}

section.order .order-history-wrapper {
    max-width: 220px;
    width: 100%;
    padding-right: 15px;
}

section.order .order-history-wrapper p {
    margin-bottom: 20px;
    font-size: 25px;
}

section.order .order-history-wrapper div {
    display: inline-block;
    margin-right: 5px;
}

section.order .order-history-wrapper div a {
    color: #2C2F3C;
}

section.order .order-wrapper {
    padding-left: 15px;
    width: calc(100% - 250px);
}

section.order .order-wrapper .order-block .subscription {
    margin-bottom: 50px;
    text-align: center;
}

section.order .order-wrapper .order-block .subscription:last-child {
    margin-bottom: 0;

}

section.order .order-wrapper .order-block .subscription .subscription-part {
    float: left;
    display: inline-block;
    width: 100%;
}

section.order .order-wrapper .order-block .subscription .subscription-part:first-child {
    padding-left: 0;
}

section.order .order-wrapper .order-block .subscription .subscription-part:last-child {
    padding-right: 0;
}

section.order .order-wrapper .order-block .subscription .img-block img {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
}

section.order .order-wrapper .order-block .subscription .img-block {
    max-width: 15%;
}

section.order .order-wrapper .order-block .subscription .publication-info-block {
    max-width: 25%;
}

section.order .order-wrapper .order-block .subscription .publication-info-block p.publication-info-text {
    margin-bottom: 5px;
}

section.order .order-wrapper .order-block .subscription .publication-info-block p.publication-info-text:last-child {
    margin-bottom: 0;
}

section.order .order-wrapper .order-block .subscription .cost-per-month-block {
    max-width: 20%;
}

section.order .order-wrapper .order-block .subscription .month-select-block {
    max-width: 20%;
}

section.order .order-wrapper .order-block .subscription .month-select-block input{
    display: block;
    margin: 0 auto;
    margin-bottom: 7px;
    background: #F9FAFB;
    border: 2px solid #2C2F3C;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

section.order .order-wrapper .order-block .subscription .month-select-block input:hover {
    background: #2C2F3C;
    color: #F9FAFB;
}

section.order .order-wrapper .order-block .subscription .month-select-block select {
    border: 2px solid;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    background: #F9FAFB;
    text-align-last: center;
    margin-bottom: 5px;
}

section.order .order-wrapper .order-block .subscription .total-cost-for-subscription {
    max-width: 15%;
}

section.order .order-wrapper .order-block .subscription .subscription-part p.info {
    margin-bottom: 15px;
    font-style: italic;
    /*text-align: center;*/
}

section.order .order-wrapper .order-block .subscription .delete-subscription {
    max-width: 5%;
    text-align: right;
}

section.order .order-wrapper .order-block .subscription .delete-subscription form input.save-button {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    width: 27px;
    height: 27px;
    background: #F9FAFB;
    border: 2px solid #C61616;
    color: #C61616;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 30px;
    line-height: 9px;
    float: right;
}

section.order .order-wrapper .order-block .subscription .delete-subscription form input.save-button:hover {
    background: #C61616;
    color: #F9FAFB;
}

section.order .order-wrapper .buy-all-block p.total-cost {
    text-align: right;
    font-size: 20px;
}
section.order .order-wrapper .buy-all-block p.total-cost span.price {
    color: #6ABC62;
    font-weight: bold;
    font-size: 26px;
}

section.order .order-wrapper .buy-all-block button.order-button {
    padding: 7px 70px;
    font-size: 18px;
    border-radius: 30px;
    border: 3px solid #6BBD62;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: #6BBD62;
    float: right;
    margin-top: 20px;
    background: #F9FAFB;
}

section.order .order-wrapper .buy-all-block button.order-button:hover {
    background: #6BBD62;
    color: #F9FAFB;
}

section.publication-manager .publication-manager-block {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 360px;
    width: 100%;
    text-align: center;
}

section.publication-manager .publication-manager-block .text-info {
    margin-bottom: 30px;
}

section.publication-manager .publication-manager-block .text-info h3 {
    font-size: 25px;
}

section.publication-manager .publication-manager-block .add-form-wrapper {
    margin-bottom: 50px;
}

section.publication-manager .publication-manager-block .add-form-wrapper:last-child {
    margin-bottom: 0;
}

section.publication-manager .publication-manager-block .add-form-wrapper .field-block {
    margin-bottom: 20px;
}

section.publication-manager .publication-manager-block .add-form-wrapper .field-block p {
    margin-bottom: 8px;
}

section.publication-manager .publication-manager-block .add-form-wrapper .input-block input {
    text-align: center;
    width: 100%;
    max-width: 280px;
    padding: 6px 12px;
    border-radius: 20px;
    line-height: 14px;
    background: #F9FAFB;
    border: 3px solid #2C2F3C;
    color: #2C2F3C;
}

section.publication-manager .publication-manager-block .add-form-wrapper .select-block select {
    text-align: center;
    width: 100%;
    max-width: 280px;
    padding: 5px 12px;
    border-radius: 20px;
    line-height: 14px;
    background: #F9FAFB;
    border: 3px solid #2C2F3C;
    color: #2C2F3C;
    text-align-last: center;
}

section.publication-manager .publication-manager-block .add-form-wrapper input.add-button {
    padding: 7px 75px;
    font-size: 20px;
    color: #2C2F3C;
    border-radius: 30px;
    border: 3px solid #2C2F3C;
    transition: 0.3s ease-in-out;
    background: #F9FAFB;
    cursor: pointer;

}

section.publication-manager .publication-manager-block .add-form-wrapper input.add-button:hover {
    color: #F9FAFB;
    background: #2C2F3C;
}

section.error {
    text-align: center;
}

section.error h2 {
    font-size: 25px;
}

#pay-modal .pay-button input {
    padding: 7px 70px;
    font-size: 18px;
    border-radius: 30px;
    border: 3px solid #6BBD62;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: #6BBD62;
    margin-top: 20px;
    background: #F9FAFB;
}

#pay-modal .pay-button input:hover {
    background: #6BBD62;
    color: #F9FAFB;
}

#pay-modal .text-edit {
    margin-bottom: 20px;
}

#pay-modal .text-edit p {
    margin-bottom: 8px;
}

header .hamburger {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 50px;
    padding: 0px 0 0 21px;
    cursor: pointer;
}



header .hamburger span.x,
header .hamburger span.y,
header .hamburger span.z {
    width: 15px;
    height: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    border-radius: 2px;
    background: #F9FAFB;;
}

header .hamburger span.x {
    top: 21px;
}

header .hamburger span.y {
    top: 26px;
}

header .hamburger span.z {
    top: 31px;
}

header .h-close span.x, header .h-close span.y {
    top: 25px;
}

header .h-close span.x {
    transform: rotate(-45deg);
}

header .h-close span.y {
    transform: rotate(45deg);
}

section.publications-section .all-publications .pagination-wrapper .next {
    float: right;
    text-decoration: none;
    color: #2C2F3C;
}

section.publications-section .all-publications .pagination-wrapper .prev {
    float: left;
    text-decoration: none;
    color: #2C2F3C;
}

@media screen and (max-width: 991px) {
    header .button-wrapper .header-element input {
        font-size: 14px;
    }
    header {
        font-size: 14px;
    }

    header .button-wrapper .right-align .header-element {
        margin-left: 20px;
    }

    header .button-wrapper .left-align .header-element {
        margin-right: 20px;
    }

    section.publications-section .all-publications .publication {
        width: 50%;
    }

    section.order .order-history-wrapper {
        display: block;
        max-width: 100%;
        margin-bottom: 40px;
        padding: 0;
        text-align: center;
    }

    section.order .order-wrapper {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 769px) {
    header .left-align {
        display: none;
    }

    header .hamburger {
        display: block;
    }

    header .h-close {
        display: none;
    }

    table.users-table {
        width: 100%;
    }

    table.users-table tbody,
    table.users-table tr,
    table.users-table tr > th,
    table.users-table tr > td {
        width: auto;
        display: block;
    }

    table.users-table {
        padding: 0em;
    }

    table.users-table thead {
        display: block;
    }

    table.users-table tfoot {
        display: block;
    }

    table.users-table tr {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    table.users-table tr > th,
    table.users-table tr > td {
        background: none;
        border: none;
        padding: 0.25em 0.75em ;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    table.users-table th:first-child,
    table.users-table td:first-child {
        font-weight: bold;
    }


    section.main-section .main-section-content .all-publication-types .publication-type-block {
        width: 100%;
        margin-bottom: 50px;
    }

    section.main-section .main-section-content .all-publication-types {
        margin-bottom: 30px;
    }

    section.main-section .main-section-content .show-all-block .show-all-button {
        padding: 7px 10px;
    }

    .log-in-window {
        max-width: 290px;
    }

    section.publications-section .filter-publications-wrapper .content-part {
        width: 100%;
        max-width: 100%;
        display: block;
        padding: 0;
        margin-bottom: 50px;
    }

    section.publications-section .filter-publications-wrapper .content-part:last-child {
        margin-bottom: 0;
    }
    section.publications-section .filter-publications-wrapper .filter-wrapper p {
        text-align: center;
    }

    .modal .modal-content {
        padding-right: 0;
        padding-left: 0;
        border: none;
    }

    section.publication-manager .publication-manager-block {
        max-width: 290px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    section.order .order-wrapper .order-block .subscription .subscription-part {
        display: block;
        max-width: 100% !important;
        float: none;
        margin-bottom: 20px;
    }

    section.order .order-wrapper .order-block .subscription .delete-subscription form input.save-button {
        float: none;
    }

    section.order .order-wrapper .buy-all-block p.total-cost {
        text-align: center;
    }

    section.order .order-wrapper .buy-all-block form {
        text-align: center;
    }

    section.order .order-wrapper .buy-all-block {
        text-align: center;
    }

    section.order .order-wrapper .buy-all-block button.order-button {
        float: none;
    }

    header .left-align {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgb(44, 47, 60);
        top: 0px;
        left: 0px;
        text-align: center;
    }
    header .left-align .header-element {
        margin-right: 0;
        display: block;
    }
}

@media screen and (max-width: 412px) {
    section.publications-section .all-publications .publication {
        width: 100%;
    }
}